body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer{
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ddd;
}
.time{
  padding: 10px 20px;
  font-size: 5rem;
  border: 5px solid #fff;
  border-radius: 50%;
  color: #333;
}
.clock-wrapper{
  top: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ffd0e4;
  padding: 20px;
}
.clock{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
  border: 4px solid #000;
  border-radius: 50%;
}
.clock-arrow{
  background-color: #ffd138;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transform-origin: left;

}
.hours-arrow{
  width: 45px;
}
.min-arrow{
  width: 70px;
}
.sec-arrow{
  width: 70px;
  height: 1px;
}
.t-word{
  position: absolute;
  --offset: 16px;
  color: #fff;
}
.t15{
  top: 50%;
  right: var(--offset);
  transform: translateY(-50%);
}
.t30{
  bottom: var(--offset);
  right: 50%;
  transform: translateX(50%);
}
.t45{
  top: 50%;
  left: var(--offset);
  transform: translateY(-50%);
}
.t60{
  top: var(--offset);
  right: 50%;
  transform: translateX(50%);
}
.clock-line{
  height: 1px;
  width: 97px;
  position: absolute;
  top: 23%;
  right: 49.5%;
  transform: rotate(0deg);
  transform-origin: right;
}
.clock-line::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #fff;
}